In [1]:
print("Hello, Jupyter!")

Hello, Jupyter!

# 들어가기 : 주석

In [2]:
# 이 코드는 실행되지 않습니다.
# age = input('')
# age

# 들여쓰기

In [5]:
def calculate_sum(a, b):
    result = a + b    # 들여쓰기된 코드 블록
    return result     # 같은 레벨의 들여쓰기

print(calculate_sum(3, 4))

7

---

# 표준 입력과 표준 출력

In [41]:
12345
10
# ipython 라이브러리의 기본 기능
# print()와 같음! -> 표준 출력 기능을 내장하고 있음

10

In [42]:
print(12345)  # 12345와 10 둘 다 나오게
10

12345

10

In [10]:
'12345'

'12345'

In [12]:
type(12345)

int

In [13]:
type('12345')

str

In [14]:
12345 + 10

12355

In [16]:
# '12345' + 10 -> TypeError: can only concatenate str (not "int") to str

In [18]:
'12345' * 3

'123451234512345'

In [24]:
name = input('당신의 이름을 입력하세요:')

당신의 이름을 입력하세요: 홍가연

In [28]:
age = input('당신의 나이를 입력하세요:')

당신의 나이를 입력하세요: 26

In [25]:
age

'26'

In [29]:
# 입력받은 name을 출력
name

'홍가연'

In [32]:
print(age, name)

26 홍가연

In [35]:
print('나는 ' + name + '이고, 나이는 ' + age + '입니다.')

나는 홍가연이고, 나이는 26입니다.

In [39]:
age = int(age)  # input()으로 받은 값은 무조건 str

In [40]:
age + 10

36

## 연습

In [43]:
# 본인 이름으로 상행시 짓기

print('바: 바밤바는 ')
print('밤: 밤이 들어 있는')
print('바: 바이다')

바: 바밤바는
밤: 밤이 들어 있는
바: 바이다

In [44]:
print('홍: 홍수가 지나간 자리엔')
print('가: 가만히 피어난 꽃이 있었다')
print('연: 연한 빛으로 세상을 물들이며')

홍: 홍수가 지나간 자리엔
가: 가만히 피어난 꽃이 있었다
연: 연한 빛으로 세상을 물들이며

In [55]:
line1 = input('홍:')
line2 = input('가:')
line3 = input('연:')

홍: 홍수가 지나간 자리엔
가: 가만히 피어난 꽃이 있었다
연: 연한 빛으로 세상을 물들이며

In [57]:
print(('홍: ' + line1), ('가: ' + line2), ('연: ' + line3), sep='\n')  # 줄바꿈 기호

홍: 홍수가 지나간 자리엔
가: 가만히 피어난 꽃이 있었다
연: 연한 빛으로 세상을 물들이며

문자열의 시작이 \ 역슬래시 -> 이스케이프 문자(출력 형식 지정), 특수문자 \n \t \

---

# 변수

변수는 type safe: 변수를 선언할 때 타입(유형)을 지정하지 않아도 되는 특성   
변수명 = 값

## 변수의 명명규칙
1. 문자, 숫자, 밑줄(_)을 가지고 만든다.
2. 숫자로 시작 x
3. 대소문자를 구분
4. 예약어, 특수기호, 공백 x

In [60]:
# False = 10 -> 예약어
# false dd = 10 -> 공백
false = 10

In [61]:
x = 10
y = 'hello'
z = 3.141592

x, y, z

(10, 'hello', 3.141592)

In [63]:
print(type(x), type(y), type(z))

<class 'int'> <class 'str'> <class 'float'>

In [65]:
a, b, c = 10, 20, 30   # a = 10; b = 20; c = 30;
print(a, b, c)

10 20 30

In [66]:
a = b = c = 40
print(a, b, c)

40 40 40

In [70]:
d = True  # bool형
e = None  # type이 없음 -> NoneType
d, e

(True, None)

In [82]:
a = 10
b = a
print(a, b)
id(a), id(b)

10 10

(140727410109144, 140727410109144)

In [84]:
aa = 10
bb = 10
print(aa, bb)
id(aa), id(bb)     # 원래 달라야함..... 변수가 가리키고 있는 건 주소값!

10 10

(140727410109144, 140727410109144)

In [85]:
# 의미 부여 어려운 변수명 > 수식이 아닌 경우에는 사용하지 않음
x = 100
y = 100

# 의미있는 변수명
age = 26
name = '홍가연'
user_name = 'devuser'
admin_name = 'gayeon'

# 대문자 Upper-case 상수에 사용
PI = 3.141592
MAX_CONNECTIONS = 10   # 최대 연결 수
MIN_VALUE = 0          # 최솟값

## NAME_SPACE

변수가 최초로 정의된 영역에 따라 유효범위가 결정된다

- 지역변수 : 함수 영역 내에서 선언한 변수
- 전역변수 : 함수 영역 밖에서 선언한 변수 -> 쓰고 싶으면 global 키워드 사용
- 정적변수 : 클래스에서 사용하는 변수

In [88]:
# 지역변수
def local_example():
    local_var = 100
    print('여기는 함수의 영역', local_var)

# local_var -> NameError: name 'local_var' is not defined
local_example()

여기는 함수의 영역 100

In [90]:
# 전역변수
global_var = '나는 전역'
print(global_var)

나는 전역

In [93]:
def global_example():
    print('여기는 함수의 영역', global_var)

global_example()

여기는 함수의 영역 나는 전역

In [100]:
var_test = '나는 전역'
print(var_test)

def global_example():
    global var_test       # 전역변수를 그대로 사용하고 싶을 때 
    var_test = 100
    print('여기는 함수의 영역', var_test)

global_example()
print(var_test)

나는 전역
여기는 함수의 영역 100
100

In [111]:
# 변수 영역 연습

counter = 0        # global

def increment_counter():
    global counter
    # counter = counter + 1
    counter += 1
    print('카운터:', counter)

increment_counter()
increment_counter()
increment_counter()

카운터: 1
카운터: 2
카운터: 3

## 교재 변수 연습

In [113]:
a = 1
b = 'python'
c = [1, 2, 3]

print(a, b, c)

1 python [1, 2, 3]

In [114]:
a = [1, 2, 3]
id(a)

2299536136704

In [115]:
b = a
id(a), id(b)

(2299536136704, 2299536136704)

In [116]:
a is b

True

In [117]:
a[1] = 4
a, b

([1, 4, 3], [1, 4, 3])

In [118]:
a, b = ('python', 'life')
print(a, b)

python life

In [119]:
(a, b) = 'python', 'life'
print(a, b)

python life

In [120]:
[a, b] = ['python', 'life']
print(a, b)

python life

In [121]:
a = b = 'python'
print(a, b)

python python

In [122]:
a = 3
b = 5
a, b = b, a
print(a)
print(b)

5
3

In [126]:
a = [1, 2, 3]
b = [1, 2, 3]
print(id(a), id(b))
a is b

2299530629376 2299536177088

False

---

# 초보자를 위한 파이썬 300제 입출력(001~010)

In [153]:
# 002 print 기초
# 화면에 Mary's cosmetics을 출력하세요. (중간에 '가 있음에 주의하세요)
print("Mary's cosmetics")

Mary's cosmetics

In [154]:
# 003 print 기초
# 화면에 아래 문장을 출력하세요. (중간에 "가 있음에 주의하세요.)
# 신씨가 소리질렀다. "도둑이야".
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [155]:
# 004 print 기초
# 화면에 C:\Windows를 출력하세요.
print('C:\\Windows')

C:\Windows

In [156]:
# 007 print 기초
# print() 함수를 사용하여 다음과 같이 출력하세요.
# naver;kakao;sk;samsung
print('naver', 'kakao', 'sk', 'samsung', sep=';')

naver;kakao;sk;samsung

In [157]:
# 008 print 기초
# print() 함수를 사용하여 다음과 같이 출력하세요.
# naver/kakao/sk/samsung
print('naver', 'kakao', 'sk', 'samsung', sep='/')

naver/kakao/sk/samsung

In [158]:
# 009 print 줄바꿈
# 다음 코드를 수정하여 줄바꿈이 없이 출력하세요. (힌트: end='') print 함수는 두 번 사용합니다. 
# 세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용합니다.
#print("first");print("second")
print("first", end=""); print("second")

firstsecond

In [161]:
# 010 연산 결과 출력
# 5/3의 결과를 화면에 출력하세요.
print(5/3)

1.6666666666666667

# 초보자를 위한 파이썬 300제 변수(011~020)

In [160]:
# 011 변수 사용하기
# 삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.
삼성전자 = 50000
print(삼성전자 * 10)

500000

In [130]:
# 012 변수 사용하기
# 다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.
# 항목	        값
# 시가총액	    298조
# 현재가	        50,000원
# PER	        15.79

시가총액= 298000000000000
현재가 = 50000
per = 15.79

print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(per, type(per))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [131]:
# 013 문자열 출력
# 변수 s와 t에는 각각 문자열이 바인딩 되어있습니다.

s = "hello"
t = "python"
# 두 변수를 이용하여 아래와 같이 출력해보세요.
# 실행 예: hello! python

print(s + '!', t)

hello! python

In [132]:
# 014 파이썬을 이용한 값 계산
# 아래 코드의 실행 결과를 예상해보세요.
# 2 + 2 * 3  -> 8
2 + 2 * 3

8

In [134]:
# 015 type 함수
# type() 함수는 데이터 타입을 판별합니다. 변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다.

# >> a = 128
# >> print (type(a))
# <class 'int'>

# 아래 변수에 바인딩된 값의 타입을 판별해보세요.
a = "132"
print(type(a))

<class 'str'>

In [139]:
# 016 문자열을 정수로 변환
# 문자열 '720'를 정수형으로 변환해보세요.

num_str = "720"
num_str = int(num_str)
print(type(num_str))

<class 'int'>

In [138]:
# 017 정수를 문자열 100으로 변환
# 정수 100을 문자열 '100'으로 변환해보세요.

num = 100
num = str(num)
print(type(num))

<class 'str'>

In [140]:
# 018 문자열을 실수로 변환
# 문자열 "15.79"를 실수(float) 타입으로 변환해보세요.

num_float = '15.79'
num_float = float(num_float)
print(type(num_float))

<class 'float'>

In [142]:
# 019 문자열을 정수로 변환
# year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.

year = "2020"
year = int(year)
print(year-1)
print(year-2)
print(year-3)

2019
2018
2017

In [143]:
# 020 파이썬 계산
# 에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 
# 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

monthly_price = 48584
month = 36
total_price = monthly_price * month
print(total_price)

1749024

---

# 자료형
- 기본 자료형: 숫자형, 문자열형, 부울형
- 복합 자료형: 리스트, 셋, 튜플, 딕셔너리

| type | 설명 | 예시 |
|------|------|------|
| 정수형 (int) | 정수를 저장하는 자료형 | 1, -5, 100 |
| 실수형 (float) | 소수점이 있는 숫자를 저장하는 자료형 | 3.14, -0.001, 2.0 |
| 문자열 (str) | 텍스트를 저장하는 자료형 | "Hello", '파이썬' |
| 논리형 (bool) | 참/거짓 값을 저장하는 자료형 | True, False |

- 수정 불가능한 데이터 타입: 수치형, 부울형, 문자열, 튜플
- 수정 가능한 데이터 타입: 리스트, 딕셔너리, 셋

## 기본 자료형

### 수치형 - int

In [210]:
#수치형 - int
20, type(20)

(20, int)

In [164]:
age = 20
type(age)

int

1. 진법: 10진수, 2진수, 8진수, 16진수
2. 입력하는 방법은 다르지만 print() 결과는 동일하다

In [166]:
a = 10
b = 0b0101  # 2진수 - 0, 1로 표현하는 방법 -> 0101 = 2^2 + 2^0 = 5
a, b

(10, 5)

In [186]:
c = 0o10    # 8진수 -> 10 = 8^1 + 0^0 = 8
c

8

In [172]:
d = 0b1000
d

8

In [175]:
e = 0x16d   # 16진수 -> (1 * 16^2) + (6 * 16^1) + (d(13) * 16^0) = 256 + 96 + 13 = 365
e

365

### 수치형 - float

In [176]:
# float
b = 3.14
b, type(b)

(3.14, float)

지수의 표기   

숫자e2 -> 숫자 * 10^2   
숫자e-2 -> 숫자 * 10^(-2)

In [177]:
fa = 10e2
fa

1000.0

In [178]:
fb = 10e-2
fb

0.1

In [179]:
fc = 3.1415e9
fc

3141500000.0

### boolean - True, False
논리연산, 비교연산에서 사용함

In [181]:
ba = True
# bb = true ->  NameError: name 'true' is not defined
type(ba), type(bb)

(bool, int)

In [182]:
ba == 1

True

In [183]:
ba == 'True'

False

In [187]:
# 논리 연산자 - and or not

bc = 1
ba and bc

1

In [190]:
# 사칙연산 + - * / // %
a = 5
b = 3

In [191]:
a + b
a - b
a * b
a / b
a // b  # 몫
a % b   # 나머지

2

In [196]:
# 비교 연산자
1 + 2 == 3
1 + 2 != 3
1 + 2 >= 3
1 + 2 < 4

True

In [197]:
# 비교 연산자와 논리 연산자의 결합
10 % 2 == 0 and 12 % 3 == 0

True

In [198]:
a = '1234'
b = '5678'
a, b, id(a), id(b)

('1234', '5678', 2299484756112, 2299531433408)

In [199]:
id(a) == id(b)

False

In [200]:
# 대입 연산자
a = 10
b = a + 2
a, b

(10, 12)

In [205]:
a = 20
a += 1  # a = a + 1
a

21

In [206]:
a -= 1  # a = a - 1
a

20

In [209]:
a = 3 
b = 2
a += 2 + b
a

7

### 문자열 str
' ', " ", """ """, ''' ''' docstring

In [217]:
a = 'hello'
b = 'python'
a + b           # +는 문자열끼리 계산

'hellopython'

In [218]:
c = '*'
c * 10          # *는 숫자와 계산

'**********'

In [214]:
d = "Kim's family"
d

"Kim's family"

In [216]:
e = '1'
e == '1'  # 문자열도 비교연산 가능!

True

#### 인덱싱 슬라이싱

In [253]:
# 문자열은 리스트, 열거형
a = '20010331Rabcd'       # 13개 글자의 목록
a[0]                      # 숫자 자리수 -> 인덱스

'2'

In [223]:
a[3] # 인덱싱

'1'

In [227]:
a[:4]  # 영역을 지정할 때 :(콜론)을 사용 -> 슬라이싱 slice

'2001'

In [256]:
# Rab 가져오기
a[8:11]
a[-5:-2]

'Rab'

In [239]:
a[9:]    # index는 0부터 시작!
a[-4:]

'abcd'

In [241]:
s = 'abc'
a = s
a is s

True

In [242]:
b = s[:]
a is b

True