# 복합 자료형

# 복합자료 리스트
여러개의 값을 묶어서 하나의 변수로 다루는 자료형   

생성법
1. `[ ]` 대괄호를 사용
2. 데이터는 ,(쉼표)로 구분
3. `[ ]` 빈 대괄호는 초기화
4. 숫자, 문자, 부울, 리스트 같은 객체를 모두 담을 수 있다.
5. 순서 index를 가진다. -> 0 시작
6. 음수 인덱스도 가진다.

In [1]:
score = [30, 50, 90, 80, 100]
score[0]  # 첫 번째 학생의 점수

30

In [3]:
type(score), type(score[0])

(list, int)

In [4]:
dir(score)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [34]:
ra = range(2, 20, 2)     # 범위 생성 -> 순열을 만들어 줌

In [22]:
num_list = list(ra)   # 생성자
num_list

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [17]:
num_list[-1]

18

In [28]:
ra.__len__()      # method

9

In [29]:
num_list.count(10)

1

method와 function   
1. method: 객체에 한해서 동작하는 함수 -> 객체명.함수()
2. function: 함수(매개변수) -> 매개변수가 필요! 매개변수로 동작

dir() -> function   
list_obj.\_\_len\__() -> method

In [32]:
str_1 = 'hello'
# str_1[0] = 'H'   # TypeError -> str은 immutable!!

In [43]:
str_2 = list(str_1)  # 문자열 -> 문자열 리스트
str_2[0] = 'H'
''.join(str_2)

'Hello'

In [48]:
# 리스트의 생성
a = list()
a = []
b = [1, 2, 3, 4, 5]
c = ['aaa', 'bbb', 'ccc']
d = [1, 2, 'aaa', 'bbb']
e = [c, d]
e

[['aaa', 'bbb', 'ccc'], [1, 2, 'aaa', 'bbb']]

In [49]:
e[0]

['aaa', 'bbb', 'ccc']

In [50]:
e[1], e[-1]

([1, 2, 'aaa', 'bbb'], [1, 2, 'aaa', 'bbb'])

In [51]:
e[1][2]

'aaa'

In [52]:
e[1][:2]

[1, 2]

In [58]:
e[-1][-1]

'bbb'

In [59]:
score = [[1, 2], [3, 4]]
score

[[1, 2], [3, 4]]

복사   
1. 얕은 복사 shallow copy
2. 깊은 복사 deep copy

In [62]:
new_score = score[:]     # 얕은 copy
new_score[0][0] = 100
new_score

[[100, 2], [3, 4]]

In [61]:
score

[[100, 2], [3, 4]]

In [63]:
import copy
copied = copy.copy(score)
copied[0][1] = 99
copied

[[100, 99], [3, 4]]

In [64]:
score

[[100, 99], [3, 4]]

In [65]:
deepcopied = copy.deepcopy(score)
deepcopied[1][0] = 100
deepcopied

[[100, 99], [100, 4]]

In [66]:
score

[[100, 99], [3, 4]]

# 리스트의 연산
- `+` \_\_add\__()
- `*` \_\_mul\__()
- del list[항목]
- in list -> True / False

In [74]:
lunch1 = ['해물라면', '샐러드', '떡볶이']
lunch2 = ['오므라이스', '볶음밥', '떡볶이', '제육볶음', '주먹밥']
lunch1 + lunch2

['해물라면', '샐러드', '떡볶이', '오므라이스', '볶음밥', '떡볶이', '제육볶음', '주먹밥']

In [75]:
lunch1 * 2

['해물라면', '샐러드', '떡볶이', '해물라면', '샐러드', '떡볶이']

In [76]:
del lunch1[0]
lunch1

['샐러드', '떡볶이']

In [77]:
# lunch1과 lunch2를 합하고 '떡볶이' 1개를 지우기
lunchall = lunch1 + lunch2
del lunchall[1]
lunchall

['샐러드', '오므라이스', '볶음밥', '떡볶이', '제육볶음', '주먹밥']

In [79]:
'떡볶이' in lunchall

True

In [110]:
# 간식박스 관리 프로그램
snack_box = ['초코파이']
new_input = input('먹고 싶은 간식을 추가하세요. 단 쉼표(,)로 연결하세요.')
new_input = new_input.replace(' ', '')
new_snack = new_input.split(',')
snack_box += new_snack

print(snack_box)

먹고 싶은 간식을 추가하세요. 단 쉼표(,)로 연결하세요. 홈런볼, 사이다

['초코파이', '홈런볼', '사이다']

In [111]:
qty = int(input('간식 박스를 몇 세트로 포장할까요? 예: 2 -> 2box'))
snack_box *= qty
snack_box

간식 박스를 몇 세트로 포장할까요? 예: 2 -> 2box 2

['초코파이', '홈런볼', '사이다', '초코파이', '홈런볼', '사이다']

In [112]:
print(f'주문하신 간식 상자는 {snack_box[0]}, {snack_box[1]}, {snack_box[2]} 등 입니다. 확인해주세요.')

주문하신 간식 상자는 초코파이, 홈런볼, 사이다 등 입니다. 확인해주세요.

In [113]:
snack_no = int(input(f'혹시 빼고 싶은 간식이 있으면 번호를 입력하세요 (0 ~ {len(snack_box)-1})'))
del snack_box[snack_no]
snack_box

혹시 빼고 싶은 간식이 있으면 번호를 입력하세요 (0 ~ 5) 1

['초코파이', '사이다', '초코파이', '홈런볼', '사이다']

In [114]:
# 찾고 싶은 간식이름을 입력하세요
# 있어요 or 없어요 출력

snack_find = input('찾고 싶은 간식이름을 입력하세요: ')
if snack_find in snack_box:
    print('있어요')
else:
    print('없어요')

찾고 싶은 간식이름을 입력하세요:  사이다

있어요

In [115]:
print('주문하신 간식박스는 뒤에서부터 다음과 같습니다')
print(f'{snack_box[::-1]}, 총 {len(snack_box)}개입니다.')

주문하신 간식박스는 뒤에서부터 다음과 같습니다
['사이다', '홈런볼', '초코파이', '사이다', '초코파이'], 총 5개입니다.

---

# 리스트의 메서드

| 메서드                  | 사용 예시                    | 설명                |
| -------------------- | ------------------------ | ----------------- |
| append(x)          | lst.append(4)          | 맨 뒤에 x 추가       |
| insert(i, x)       | lst.insert(1, "a")     | i 위치에 x 삽입    |
| extend(iter)       | lst.extend([4, 5])     | 리스트에 여러 값 추가      |
| remove(x)          | lst.remove("a")        | x와 일치하는 첫 항목 삭제 |
| pop()              | lst.pop()              | 마지막 항목 제거하고 반환    |
| pop(i)             | lst.pop(0)             | i번째 항목 제거하고 반환  |
| clear()            | lst.clear()            | 리스트 전체 비우기        |
| index(x)           | lst.index("a")         | x의 위치(인덱스) 반환   |
| count(x)           | lst.count("a")         | x의 개수 세기        |
| sort()             | lst.sort()             | 오름차순 정렬 (원본 변경)   |
| sort(reverse=True) | lst.sort(reverse=True) | 내림차순 정렬           |
| reverse()          | lst.reverse()          | 항목 순서 뒤집기         |
| copy()             | lst2 = lst.copy()      | 리스트 복사            |

In [139]:
list_a = [1, 2, 3, 'aa', 'bb', [10, 20], 'Dd']

In [140]:
list_a.append(11)
print(list_a)

[1, 2, 3, 'aa', 'bb', [10, 20], 'Dd', 11]

In [141]:
list_a.insert(1, 'aa')
print(list_a)

[1, 'aa', 2, 3, 'aa', 'bb', [10, 20], 'Dd', 11]

In [142]:
list_a.extend([8, '6y'])
print(list_a)

[1, 'aa', 2, 3, 'aa', 'bb', [10, 20], 'Dd', 11, 8, '6y']

In [143]:
list_a.remove('aa')
print(list_a)

[1, 2, 3, 'aa', 'bb', [10, 20], 'Dd', 11, 8, '6y']

In [144]:
list_a.pop()

'6y'

In [145]:
list_a.pop(-2)

11

In [146]:
print(list_a)

[1, 2, 3, 'aa', 'bb', [10, 20], 'Dd', 8]

In [148]:
list_a.clear()
print(list_a)

[]

In [157]:
list_b = [1, 2, 'aa', [20, 10], 'Dd']
# list_b.sort()  # TypeError: '<' not supported between instances of 'str' and 'int'

In [154]:
list_c = [1, 3, 2, 7, 4]
list_c.sort()
print(list_c)

[1, 2, 3, 4, 7]

In [155]:
list_c.sort(reverse=True)
print(list_c)

[7, 4, 3, 2, 1]

In [162]:
list_d = ['a', 't', 'c', 'ff']
list_d.sort()
print(list_d)

['a', 'c', 'ff', 't']

In [163]:
list_d.sort(reverse=True)
print(list_d)

['t', 'ff', 'c', 'a']

In [168]:
list_e = [[1, 2], [2, 1], [1, 1, 2], []]
list_e.sort()
print(list_e)

[[], [1, 1, 2], [1, 2], [2, 1]]

In [170]:
list_e.sort(reverse=True)
print(list_e)

[[2, 1], [1, 2], [1, 1, 2], []]

In [158]:
list_b.reverse()
print(list_b)

['Dd', [20, 10], 'aa', 2, 1]

In [159]:
listb_copy = list_b.copy()
listb_copy

['Dd', [20, 10], 'aa', 2, 1]

# 연산자

- 비식별 연산자
  1. 수치연산: 사칙연산
     add() -> 특별메서드를 정의하고 객체에서 쓸 수 있다.   
     숫자일 때는 기본 연산   
     형변환이 자동으로 일어난다. int + float -> float, int / int -> float   
  2. 대입연산: assign 할당 `=`   
     변수 = 값   
     자기 자신에게 대입하는 연산 -> +=, -=, *=, /= -> ()가 자동으로 적용되는 것!   
  3. 비교연산
     `==`, `!=`, `>=`, `<=`   
     리스트의 비교 `==`  ->  내용이 같은가?   
     리스트의 비교 `is` -> 주소가 같은가?   
        => 리스트의 주소 `id()`가 같은지 비교 -> 메모리 영역이 같은가?   
  5. 논리연산
     and, or, not
     &, &&, |, !
- 식별 연산자
  1. is, is not

In [66]:
lunch1 = ['주먹밥', '치킨', '칼국수']
lunch2 = ['주먹밥', '치킨', '칼국수']
print(lunch1 == lunch2)       # 값의 비교
print(id(lunch1) == id(lunch2))

True
False

In [68]:
lunch1 is lunch2           # 주소 비교

False

In [3]:
a = 5; b = 2
a *= 2 + b  # a = 5 * (2 + 2)
a

20

In [8]:
students = [
               {'num':'1','name':'김철수','kor':90,'eng':80,'math':85,'total':0,'avg':0.0,'order':0 },
               {'num':'2','name':'박제동','kor':90,'eng':85,'math':90,'total':0,'avg':0.0,'order':0 },
               {'num':'3','name':'홍길동','kor':80,'eng':80,'math':80,'total':0,'avg':0.0,'order':0 }
           ]

In [14]:
# 각 학생들의 총점
students[0]['total'] = students[0]['kor'] + students[0]['eng'] + students[0]['math']
students[1]['total'] = students[1]['kor'] + students[1]['eng'] + students[1]['math']
students[2]['total'] = students[2]['kor'] + students[2]['eng'] + students[2]['math']
print(students)

[{'num': '1', 'name': '김철수', 'kor': 90, 'eng': 80, 'math': 85, 'total': 255, 'avg': 0.0, 'order': 0}, {'num': '2', 'name': '박제동', 'kor': 90, 'eng': 85, 'math': 90, 'total': 265, 'avg': 0.0, 'order': 0}, {'num': '3', 'name': '홍길동', 'kor': 80, 'eng': 80, 'math': 80, 'total': 240, 'avg': 0.0, 'order': 0}]

In [51]:
# for문에서는 리스트의 요소를 하나씩 꺼낼 수 있다.: in 키워드
for s in students:     # 0, 1, 2 : 0 > 1 > 2 -> iterator
    s['total'] = s['kor'] + s['eng'] + s['math']
    s['avg'] = s['total'] / 3  # 평균
    print(s['total'], s['avg'])

255 85.0
265 88.33333333333333
240 80.0

In [61]:
# students order
li = []
for s in students:
    li.append(s['avg'])
li.sort(reverse=True)

for s in students:
    s['order'] = li.index(s['avg']) + 1
    print(s['name'], s['order'], s['total'], s['avg'],)

김철수 2 255 85.0
박제동 1 265 88.33333333333333
홍길동 3 240 80.0

In [60]:
for student in students:
    rank = 1
    for other in students:
        if other['total'] > student['total']:
            rank += 1
    student['order'] = rank
    print(student['name'], student['order'])

김철수 2
박제동 1
홍길동 3

---

# 리스트에 많이 쓰는 내장함수들

- type()
- sorted()
- dir()
- id()
- len()
- sum(), max(), min()

In [69]:
li = [1, 65, 5, 3, 7, 7, 443]

In [71]:
print(type(li))
print(sorted(li))

<class 'list'>
[1, 3, 5, 7, 7, 65, 443]

In [72]:
print(dir(li))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [73]:
print(id(li))
print(len(li))

1421835276416
7

In [75]:
print(sum(li))
print(max(li))
print(min(li))

531
443
1

리스트 퀴즈   
Q1. [1,3,5,4,2]라는 리스트를 [5,4,3,2,1]로 만들어보자

Q2. ['Life','is','too','short']라는 리스트를 Life is too short라는 문자열로 만들어 출력해 보자

Q3. 다음 리스트 L의 순서를 아래와 같이 변경하시오. (힌트: pop())

변경 전

[1, 3, 5, 7, 9]

변경 후

[3, 5, 7, 9, 1]

In [80]:
list1 = [1,3,5,4,2]
list1_re_sorted = sorted(list1, reverse=True)
print(list1_re_sorted)

[5, 4, 3, 2, 1]

In [81]:
list2 = ['Life','is','too','short']
print(' '.join(list2))

Life is too short

In [84]:
L = [1, 3, 5, 7, 9]
L.append(L.pop(0))
print(L)

[3, 5, 7, 9, 1]

# 딕셔너리

{키 : 값, 키 : 값}

In [85]:
person = {'이름':'Alice', '나이':25, '도시':'서울'}
person

{'이름': 'Alice', '나이': 25, '도시': '서울'}

In [89]:
person2 = dict(이름='홍가연', 나이=26, 도시='경기')
person2

{'이름': '홍가연', '나이': 26, '도시': '경기'}

In [92]:
person['이름'] = '홍길동'
person

{'이름': '홍길동', '나이': 25, '도시': '서울'}

In [97]:
person[0] = 'Bob'   # key add
person

{'이름': '홍길동', '나이': 25, '도시': '서울', 0: 'Bob'}

In [98]:
# person[2]  # KeyError: 2

In [99]:
type(person)

dict

In [100]:
dir(person)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [110]:
items = person.items()
type(items)

dict_items

In [111]:
for i in items:
    print(i)

('이름', '홍길동')
('나이', 25)
('도시', '서울')
(0, 'Bob')

In [112]:
keys = person.keys()
type(keys)

dict_keys

In [108]:
for k in keys:
    print(k)

이름
나이
도시
0

In [114]:
values = person.values()

for v in values:
    print(v)

홍길동
25
서울
Bob

In [115]:
# update()는 딕셔너리에 딕셔너리를 추가한다
person.update(person2)
print(person)

{'이름': '홍가연', '나이': 26, '도시': '경기', 0: 'Bob'}

In [118]:
# person3를 추가한다면?
# key가 같으므로 값이 업데이트
# key가 다르면 추가

In [119]:
person3 = {'성별':'여자', '취미':'책'}
person.update(person3)
print(person)

{'이름': '홍가연', '나이': 26, '도시': '경기', 0: 'Bob', '성별': '여자', '취미': '책'}

# 메뉴판 만들기

In [175]:
store_name = 'julia\'s cafe'
menu_list = ['카페라떼', '아이스 아메리카노', '녹차라떼']
price_list = [4000, 3500, 4200]

print('-'*50)
print(f'어서오세요! {store_name}에 오신 것을 환영합니다.')

for i in range(len(menu_list)):
    print(f'{i + 1}. {menu_list[i]:^12} {price_list[i]:>10,}원')

order_num = int(input('주문할 메뉴 번호를 입력하세요:')) - 1
qty = int(input('주문 수량을 입력하세요:'))
total = price_list[order_num] * qty

print(f'주문하신 메뉴는 {menu_list[order_num]} {qty}잔 입니다. 결제하실 금액은 총 {total:,}원 입니다.')

--------------------------------------------------
어서오세요! julia's cafe에 오신 것을 환영합니다.
1.     카페라떼          4,000원
2.  아이스 아메리카노        3,500원
3.     녹차라떼          4,200원

주문할 메뉴 번호를 입력하세요: 3
주문 수량을 입력하세요: 2

주문하신 메뉴는 녹차라떼 2잔 입니다. 결제하실 금액은 총 8,400원 입니다.

## 딕셔너리 버전

In [177]:
print('-'*50)
print(f'어서오세요! {store_name}에 오신 것을 환영합니다.')
print('-'*50)

store_name = 'julia\'s cafe'
menu_list = [
    {'name':'카페라떼', 'price':4000},
    {'name':'아이스 아메리카노', 'price':3500},
    {'name':'녹차라떼', 'price':4200},
    {'name':'말차 프라프치노','price':7000}
]

for i, menu in enumerate(menu_list):
    print(f'{i + 1}. {menu['name']:^12} {menu['price']:>10,}원')

print('-'*50)

order_num = int(input('주문할 메뉴 번호를 입력하세요:')) - 1
qty = int(input('주문 수량을 숫자로 입력하세요:'))
total = menu_list[order_num]['price'] * qty
name = menu_list[order_num]['name']

print(f'주문하신 메뉴는 {name} {qty}잔 입니다. 결제하실 금액은 총 {total:,}원 입니다.')

--------------------------------------------------
어서오세요! julia's cafe에 오신 것을 환영합니다.
--------------------------------------------------
1.     카페라떼          4,000원
2.  아이스 아메리카노        3,500원
3.     녹차라떼          4,200원
4.   말차 프라프치노        7,000원
--------------------------------------------------

주문할 메뉴 번호를 입력하세요: 2
주문 수량을 숫자로 입력하세요: 3

주문하신 메뉴는 아이스 아메리카노 3잔 입니다. 결제하실 금액은 총 10,500원 입니다.

---

In [1]:
store_name = '🍧또!젤라또🍧'

menu_list = [
    {'name':'또젤라또','count':'1가지맛', 'price':3000},
    {'name':'또또젤라또','count':'2가지맛', 'price':5000},
    {'name':'또또또젤라또','count':'3가지맛', 'price':7000}
]

flavor_list = [
    {'flavor':'달콤초코봄바람'},
    {'flavor':'새콤달콤딸기정원'},
    {'flavor':'요거트빛파도'},
    {'flavor':'말차소풍'},
    {'flavor':'체리팝송'},
    {'flavor':'포도에몽'},
    {'flavor':'바닐라하모니'},
    {'flavor':'쿠키크러쉬'},
    {'flavor':'소금바다우유'},
    {'flavor':'블루베리썸머'},
    {'flavor':'스윗피치'},
    {'flavor':'레몬샤워'},
]


print("="*45)
print(f'{store_name:^40}')
print("="*45)

print("어서오세요 아이스크림을 또 주는 또젤라또입니다\n")

for i, menu in enumerate(menu_list):
    print(f'{i + 1}. {menu['name']:<6} {menu['count']:>12} {menu['price']:>10,}원')
print("="*45)

order_num = int(input('주문할 메뉴 번호를 입력해주세요:')) - 1

=============================================
                🍧또!젤라또🍧
=============================================
어서오세요 아이스크림을 또 주는 또젤라또입니다

1. 또젤라또           1가지맛      3,000원
2. 또또젤라또          2가지맛      5,000원
3. 또또또젤라또         3가지맛      7,000원
=============================================

주문할 메뉴 번호를 입력해주세요: 2

In [11]:
#[2]
selected_menu = menu_list[order_num]

# 선택한 사이즈 안내 메시지
flavor_count = int(selected_menu['count'][0])
print('='*45)
print(f"\n선택하신 사이즈는 '{selected_menu['name']}' 입니다.")

# 선택한 수에 따라 정확히 안내 메시지 출력
if flavor_count == 1:
    print("1가지 맛을 골라주세요.")
elif flavor_count == 2:
    print("2가지 맛을 골라주세요.")
elif flavor_count == 3:
    print("3가지 맛을 골라주세요.")
print('\n' + '='*45)

# 메뉴 리스트 보여주기
for i, fla in enumerate(flavor_list):
    print(f"{i+1}. {fla['flavor']}")
print('='*45)

# 맛 번호 입력
while True:
    flavor_input = input("\n맛 번호들을 숫자로 입력하세요 (예: 1 , 3 , 5): ")
    print('\n' + '='*45)
    parts = flavor_input.split(',')
    flavor_nums = []

    for p in parts:
        p = p.strip()
        if p.isdigit():
            flavor_nums.append(int(p) - 1)

    if len(flavor_nums) != flavor_count:
        print(f"\n {flavor_count}가지 맛을 선택해야 합니다. 다시 입력해주세요.")
        continue
    break

# flavor_nums

=============================================

선택하신 사이즈는 '또또젤라또' 입니다.
2가지 맛을 골라주세요.

=============================================
1. 달콤초코봄바람
2. 새콤달콤딸기정원
3. 요거트빛파도
4. 말차소풍
5. 체리팝송
6. 포도에몽
7. 바닐라하모니
8. 쿠키크러쉬
9. 소금바다우유
10. 블루베리썸머
11. 스윗피치
12. 레몬샤워
=============================================

맛 번호들을 숫자로 입력하세요 (예: 1 , 3 , 5):  4, 5

=============================================

In [13]:
select_name = menu_list[order_num]['name']
print('='*45)
print(f'선택하신 제품은 [{select_name}]이며 선택하신 맛은\n')
for i in flavor_nums :
    print(f' - {i+1}.{flavor_list[i]['flavor']}')
print('\n맛입니다')
print('='*45)

order_q = input(f'더 주문하시겠습니까?(Y/N)')
print('='*45)

if 'y' in order_q :
    #주문화면으로 가기
    print('아직 배우지 않았습니다. 잠시만 기다려주세요 ^^')
else:
    #결제 페이지로 가기 
    print(f'주문하신 제품은 \'{select_name}\'의')
    for i in flavor_nums :
         print(f' - {i+1}.{flavor_list[i]['flavor']}')
    print('입니다\n')
    print(f'총 금액은 \'{selected_menu['price']}\'원 입니다.\n')
    
print('='*45)
point_q = input('포인트 적립하시겠습니까? (Y,N)')
print('='*45)

=============================================
선택하신 제품은 [또또젤라또]이며 선택하신 맛은

 - 4.말차소풍
 - 5.체리팝송

맛입니다
=============================================

더 주문하시겠습니까?(Y/N) y

=============================================
아직 배우지 않았습니다. 잠시만 기다려주세요 ^^
=============================================

포인트 적립하시겠습니까? (Y,N) n

=============================================

In [15]:
if 'y' in point_q:
  print("\n 등록된 전화번호를 입력해주세요. \n")
  membership = input(">> ")

  # 포인트 계산 (예시 : 100원당 1포인트적립)
  total_cost = menu_list[order_num]["price"] # 실제 프로젝트에서는 이 값이 외부에서 전달될 예정
  saved_point = total_cost // 100
  existing_point = 250 # 기존 보유 포인트(가정)
  total_point = existing_point + saved_point
    
  #출력
  print('='*45)
  print(f"\n오늘의 결제 총금액은 {total_cost:,}원이며,")
  print(f"\n{saved_point} HappyPoint가 적립되어 ")
  print(f"총{total_point} HappyPoint를 보유중입니다.\n")
else:
    membership = "고객"
print('='*45)
print("주문 완료되었습니다.\n")
print(f"{membership}님, 잠시만 기다려주세요.")
print(f"감사합니다. {membership}님, 또 오세요😊")
print('='*45)

=============================================
주문 완료되었습니다.

고객님, 잠시만 기다려주세요.
감사합니다. 고객님, 또 오세요😊
=============================================

---

# 튜플
리스트랑 비슷, 변경을 안되는 특성을 가진다

In [16]:
a = tuple()
a, type(a)

((), tuple)

In [17]:
b = (1)
b, type(b)

(1, int)

In [18]:
bb = (1, )
bb, type(bb)

((1,), tuple)

In [20]:
c = (1, 2, (3, 4), '5', [1, 2, 3])
c

(1, 2, (3, 4), '5', [1, 2, 3])

In [21]:
c[0]

1

In [23]:
# c[0] = 3   # TypeError: 'tuple' object does not support item assignment

In [25]:
# 튜플의 괄호는 생략해도 된다.
# 쉼표로 요소는 하나 이상이어야 한다.
fruits = '사과', '복숭아', '딸기'
fruits, type(fruits)

(('사과', '복숭아', '딸기'), tuple)

In [34]:
# 패킹, 언패킹

nums = [1, 2, 3]
a, b, c = nums       # list unpacking
a, b, c

(1, 2, 3)

In [38]:
s = 'hello'  # packing
a, *b, c = s         # unpacking * - rest
a, b, c

('h', ['e', 'l', 'l'], 'o')

In [39]:
student = ('홍길동', 20, '1학년') # 패킹
student

('홍길동', 20, '1학년')

In [41]:
name, age, grade = student   # 언패킹
f'이름은 {name}이고, 나이는 {age}이고, {grade}입니다.'

'이름은 홍길동이고, 나이는 20이고, 1학년입니다.'

In [44]:
# 미션
x = 1
y = 2

x, y = y, x

x, y   # tuple의 패킹, 언패킹

(2, 1)

In [48]:
# 함수의 정의
def func_a(a, b, c):
    print(a, b, c)
    return c, b, a

# 함수의 호출
result = func_a(5, 4, 3)

# 함수의 반환값
print(result)

5 4 3
(3, 4, 5)

In [49]:
a1, b1, c1 = func_a(1, 2, 3)
a1, b1, c1

1 2 3

(3, 2, 1)

In [50]:
# 튜플에 값을 추가하려면?
# 형변환 -> 리스트

In [51]:
name_tuple = ("가연", '지훈', '지희')
name_tuple

('가연', '지훈', '지희')

In [52]:
name_list = list(name_tuple)
name_list.append('유석')
name_list

['가연', '지훈', '지희', '유석']

In [53]:
name_tuple = tuple(name_list)
name_tuple

('가연', '지훈', '지희', '유석')

In [56]:
dir(name_tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [57]:
# __add__ : +
# __mul__ : *

In [65]:
name_tuple = ("가연", '지훈', '지희')
name_tuple = name_tuple.__add__(('유석',))
name_tuple

('가연', '지훈', '지희', '유석')

In [66]:
name_tuple * 3

('가연', '지훈', '지희', '유석', '가연', '지훈', '지희', '유석', '가연', '지훈', '지희', '유석')

---

# 집합

- set(), { }
- 중복이 안된다. 순서도 없다, 키도 없다
- 속도가 빠르다. 해싱을 하는 자료형 (딕셔너리, 집합)

In [68]:
s = set([1, 2, 3])
s

{1, 2, 3}

In [69]:
s1 = {1, 2, 3}
s1

{1, 2, 3}

In [70]:
s2 = {1, 2, 3, 1}
s2

{1, 2, 3}

In [79]:
l2 = [1, 2, 3]
l2 *= 2
l2

[1, 2, 3, 1, 2, 3]

In [73]:
# set으로 중복 제거
s3 = set(l2)
s3

{1, 2, 3}

In [80]:
l2.append([4, 5, 6])
l2

[1, 2, 3, 1, 2, 3, [4, 5, 6]]

In [81]:
l2, type(l2)

([1, 2, 3, 1, 2, 3, [4, 5, 6]], list)

In [102]:
# set(l2)  TypeError: unhashable type: 'list'

In [107]:
hash('hi')  # 해시코드 -> 해싱 가능한 데이터: 문자열

8931441466601598391

In [106]:
hash(123)  # 해싱 가능 int, float, boolean

123

In [108]:
set(['hi', 123])  # 해싱으로 바귄 값을 저장 -> 집합 연산

{123, 'hi'}

In [101]:
l1 = [1, 2, 3]
# hash(l1)  TypeError: unhashable type: 'list'

In [110]:
hash((1, 2, 3))   # 튜플은 통채로 바로 해싱 가능

529344067295497451

In [111]:
# hash({1, 2, 3})  # set: 해싱 불가능, 요소는 해싱 가능해야 함!! TypeError: unhashable type: 'set'

# set 집합 연산

- 교집합 &, intersection()
- 합집합 |, union()
- 차집합 -, difference()

In [90]:
s = set([1, 2, 3, 4])
x = {2, 3, 4}
y = {3, 4, 5}

In [97]:
# 교집합
x & y

{3, 4}

In [92]:
x.intersection(y)

{3, 4}

In [98]:
# 차집합
y - x

{5}

In [94]:
s.difference(y)

{1, 2}

In [99]:
# 합집합
x | y

{2, 3, 4, 5}

In [100]:
x.union(y)

{2, 3, 4, 5}

In [103]:
dir(s)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

# 자료형 비교

| 항목       | 리스트 `[]`  | 딕셔너리 `{}`      | 튜플 `()`     | 세트 `set()`          |
| -------- | --------- | -------------- | ----------- | ------------------- |
| 변경 가능성   | ✅ mutable | ✅ mutable      | ❌ immutable | ✅ mutable (내용)      |
| 구분 기호    | `[]`      | `{key: value}` | `()`        | `{값, 값}` 또는 `set()` |
| 순서       | ✅ 있음      | ✅ 있음 (3.7 이후)  | ✅ 있음        | ❌ 없음 (정렬 안 됨)       |
| 중복 허용    | ✅ 허용      | ❌ 키 중복 불가      | ✅ 허용        | ❌ 허용 안 함            |
| 인덱싱/슬라이싱 | ✅ 가능      | ❌ 키로 접근        | ✅ 가능        | ❌ 불가능               |
| 주요 용도    | 순차적 자료 보관 | 키-값 쌍 저장       | 고정된 값 묶음    | 집합 연산, 중복 제거        |

1. 리스트 numbers가 다음과 같을 때, 첫 번째 원소와 마지막 원소의 합을 구하는 코드를 작성하세요.

In [112]:
numbers = [10, 20,  30,  40,  50,  60, 70, 80, 90, 100]
sum = numbers[0] + numbers[-1]
print(sum)

110

2. 리스트 colors가 다음과 같을 때, 첫 3개 원소와 마지막 2개 원소를 슬라이싱을 사용하여 출력하는 코드를 작성하세요.

In [113]:
colors = ["red", "green", "blue", "yellow", "purple", "orange", "black"]
first_three = colors[:3]
last_two = colors[-2:]
print(first_three, last_two)

['red', 'green', 'blue'] ['orange', 'black']

3. 다음 리스트에서 "korean"이라는 문자열을 찾아 출력하는 코드를 작성하세요. - indexing

In [143]:
list_a = [
    [1, 2, 3],
    ["red", "green", "blue"],
    [False, "korean", True]
]
print(list_a[2][1])

korean

In [144]:
for i in list_a:
    for j in i:
        if j == 'korean':
            print(j)

korean

4. 리스트 list_a과 list_b가 다음과 같을 때, 두 리스트를 합쳐서 새로운 리스트 list_c를 만드는 코드를 작성하세요.

In [115]:
list_a = [1, 2, 3]
list_b = [4, 5, 6]
list_c = list_a + list_b
print(list_c)

[1, 2, 3, 4, 5, 6]

5. 아래의 튜플 tuple_a에서 "banana"를 "blueberry"로 변경하는 코드를 작성하세요.

In [120]:
tuple_a = ("apple", "banana", "cherry")
list1 = list(tuple_a)
list1[1] = "blueberry"
tuple_a = tuple(list1)
print(tuple_a)

('apple', 'blueberry', 'cherry')

6. 변수 a, b, c의 값을 사용하여 튜플 tuple_a를 생성하고 출력하는 코드를 작성하세요.

In [122]:
a = 5
b = 10
c = 15

tuple_a = (a, b, c)
print(tuple_a)

(5, 10, 15)

7. 튜플 numbers가 주어졌을 때, 튜플의 최대값과 최소값을 출력하는 코드를 작성하세요.

In [125]:
numbers = (92, 89, 72, 31, 71, 33, 19)
print(max(numbers))
print(min(numbers))

92
19

8. dict 타입의 student(변수명)를 생성하고, 아래의 키-값 쌍을 추가하는 코드를 작성하세요.
- name: "Alice"
- age: 24
- major: "Computer Science"

In [132]:
student = {}

student.update(name="Alice", age=24, major="Computer Science")
print(student)

{'name': 'Alice', 'age': 24, 'major': 'Computer Science'}

9. 위에서 생성한 student에서, 모든 키와 값을 출력하는 코드를 작성하세요

In [136]:
print(student.items())

dict_items([('name', 'Alice'), ('age', 24), ('major', 'Computer Science')])

In [145]:
for k, v in student.items():
    print(f'{k}:{v}')

name:Alice
age:26
major:Computer Science

10. 위에서 생성한 student에서, age(나이)를 26으로 변경하세요.

In [137]:
student.update(age=26)
print(student)

{'name': 'Alice', 'age': 26, 'major': 'Computer Science'}

11. 다음 딕셔너리 students에서 name의 값을 리스트(name_list)로, age의 값을 튜플(age_tuple) 만드는 코드를 작성하세요

In [139]:
students = {
    "student1": {"name": "Alice", "age": 24},
    "student2": {"name": "Bob", "age": 22},
    "student3": {"name": "Charlie", "age": 23}
}

In [141]:
name_list = []
age_list = []

for key in students:
    student_num = students[key]
    name_list.append(student_num["name"])
    age_list.append(student_num["age"])

age_tuple = tuple(age_list)

print(name_list)
print(age_tuple)

['Alice', 'Bob', 'Charlie']
(24, 22, 23)