# 반복문: for, while

# for문

for 변수 in 반복자:

반복자에는 리스트, 문자열, 튜플, 딕셔너리, 세트(집합)

In [2]:
data = [0, 1, 2, 3, 4]

for var in data:
    print(var, end=' ')

0 1 2 3 4

In [3]:
type(range(1, 10))

range

In [4]:
for x in range(1, 10):
    print(x, end=' ')

1 2 3 4 5 6 7 8 9

In [5]:
# tuple, dictionary, str
total = 0
for i in (1, 2, 3):
    total += i    
print(total)

for k, v in {'name':'gayeon', 'age':26}.items():
    print(k, v)

for s in 'hello':
    print(s, end=' ')

6
name gayeon
age 26
h e l l o

In [6]:
list(range(1, 10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# range(1, 10, 2)
start, stop, step = 1(default)

In [7]:
list(range(0, 10, 2))

[0, 2, 4, 6, 8]

In [8]:
# 1 ~ 100 합 구하기
sum1 = 0
for i in range(1, 101):
    sum1 += i
print(sum1)

5050

In [9]:
# 3의 배수의 합 (1 ~ 100)
sum2 = 0
for i in range(3, 101, 3):
    sum2 += i
print(sum2)

1683

In [10]:
char_list = ['a', 'b', 'c']

for x in char_list:
    print(x)

a
b
c

In [11]:
for i, v in enumerate(char_list):
    print(i, v)

0 a
1 b
2 c

In [44]:
char_list2 = ['hello', 'hi', 'good-bye']
zip(char_list, char_list2)

In [13]:
for item in zip(char_list, char_list2):
    print(item)

('a', 'hello')
('b', 'hi')
('c', 'good-bye')

In [14]:
# 구구단
for dan in range(2, 10):
    for i in range(1, 10):
        print(f'{dan} x {i} = {dan*i}')
    print('-'*10)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
----------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
----------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
----------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
----------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
----------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
----------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
----------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
----------

In [15]:
movie_dict = {'미션임파서블':4, '미치광이피에로':5, '씨너스':3, '울지않는아이':2}
for k, v in movie_dict.items():
    print(f'영화 {k}의 평점 : {'😀'*v}')

영화 미션임파서블의 평점 : 😀😀😀😀
영화 미치광이피에로의 평점 : 😀😀😀😀😀
영화 씨너스의 평점 : 😀😀😀
영화 울지않는아이의 평점 : 😀😀

In [16]:
for i in range(1, 6):
    for j in range(i):
        print('💎', end='')
    print()

💎
💎💎
💎💎💎
💎💎💎💎
💎💎💎💎💎

In [17]:
for i in range(1, 6):
    print(' ' * (6 - i), end=' ')
    print('💎'* i)

      💎
     💎💎
    💎💎💎
   💎💎💎💎
  💎💎💎💎💎

1. 변수 number가 주어졌을 때, 숫자가 양수인지 음수인지 또는 0인지 판별하고, 해당 결과를 출력하는 코드를 작성하세요.

In [18]:
number = 9
print('0') if number == 0 else print('양수') if number > 0 else ('음수')

양수

2. 변수 number가 주어졌을 때, 숫자가 짝수인지 홀수인지 판별하고, 해당 결과를 출력하는 코드를 작성하세요.

In [19]:
number = 51
print('짝수') if number % 2 == 0 else print('홀수')

홀수

3. 변수 score가 주어졌을 때, 다음 기준에 따라 학점을 출력하는 코드를 작성하세요.
- 90점 이상: A
- 80점 이상 90점 미만: B
- 70점 이상 80점 미만: C
- 70점 미만: F

In [20]:
score = 88

print('F') if score < 70 else \
print('C') if score < 80 else \
print('B') if score < 90 else print('A')

B

4. 변수 price와 is_discount가 주어졌을 때, is_discount가 True이면 가격에 10% 할인을 적용하고, 그렇지 않으면 원래 가격을 출력하는 코드를 작성하세요.

In [21]:
price = 100
is_discount = True

print(price * 0.9) if is_discount else print(price)

90.0

5. 반복문을 사용하여 1부터 10까지의 숫자를 출력하는 코드를 작성하세요.

In [22]:
for i in range(1, 11):
    print(i, end=' ')

1 2 3 4 5 6 7 8 9 10

6. 위 반복문(1~10) 숫자 중, 짝수의 값만 출력하는 코드를 작성하세요.

In [23]:
for i in range(1, 11):
    if i % 2 == 0:
        print(i, end=' ')

2 4 6 8 10

In [24]:
[i for i in range(1, 11) if i % 2 == 0]

[2, 4, 6, 8, 10]

7. 리스트 items와 변수 target이 주어졌을 때, for 반복문을 사용하여 target이 리스트에 있는지 확인하고, 결과를 출력하는 코드를 작성하세요.

In [25]:
items = ["apple", "banana", "cherry"]
target = "banana"

found = [item for item in items if target == item]
print('founded!!') if found else print('not found')

founded!!

8. for 반복문을 사용하여 구구단 2단의 결과물을 출력하는 코드를 작성하세요.

In [26]:
for i in range(1, 10):
    print(f'2 x {i} = {2*i}')

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

9. 나이에 따라 다음과 같은 입장료를 받고 있다고 할 때, 반복문을 이용하여 1세부터 13세까지의 전체 가격표를 만드는 코드를 작성하세요.
- 3세 이하: 무료
- 3세에서 5세: 5달러
- 5세에서 9세: 10달러
- 9세에서 12세: 12달러
- 12세 이상: 사용할 수 없음 (프로그램 종료)

In [27]:
for age in range(1, 14):
    if age <= 3:
        print(f'{age}세: 무료')
    elif age <= 5:
        print(f'{age}세: 5달러')
    elif age <= 9:
        print(f'{age}세: 10달러')
    elif age <= 12:
        print(f'{age}세: 12달러')
    else:
        print('사용 불가')
        break

1세: 무료
2세: 무료
3세: 무료
4세: 5달러
5세: 5달러
6세: 10달러
7세: 10달러
8세: 10달러
9세: 10달러
10세: 12달러
11세: 12달러
12세: 12달러
사용 불가

10. 다음 코드의 결과값은 무엇일까?

a = "Life is too short, you need python"

if "wife" in a:
    print("wife")

elif "python" in a and "you" not in a:
    print("python")

elif "shirt" not in a:
    print("shirt")

elif "need" in a:
    print("need")

else: print("none")

In [28]:
# shirt

11. 휴대폰 번호 앞자리에 따라 통신사는 아래와 같이 구분된다. 사용자로부터 휴대전화 번호를 입력 받고, 통신사를 출력하는 프로그램을 작성하라.

번호 통신사   
011 SKT   
016 KT   
019 LGU   
010 알수없음

>> 휴대전화 번호 입력: 011-345-1922   
당신은 SKT 사용자입니다.

In [29]:
phone = input('휴대전화 번호 입력:')

# if '-' in phone:
#     num = phone.split('-')[0]
# else:
#     num = phone[:3]

num = phone.split('-')[0] if '-' in phone else phone[:3]

phone_num = {
    '011': 'SKT',
    '016': 'KT',
    '019': 'LGU',
    '010': '알수없음'
}

com = phone_num.get(num, '못찾았음')
print(f'당신은 {com} 사용자입니다.')

휴대전화 번호 입력: 01927382738

당신은 LGU 사용자입니다.

11. 주민등록번호는 13자리로 구성되는데 마지막 자리수는 주민등록번호의 유효성을 체크하는데 사용된다.
먼저 앞에서부터 12자리의 숫자에 2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5를 차례로 곱한 뒤 그 값을 전부 더한다.   
연산 결과 값을 11로 나누면 나머지가 나오는데 11에서 나머지를 뺀 값이 주민등록번호의 마지막 번호가 된다.
  8 2 1 0 1 0 - 1 6 3 5 2 1 0   
 x 2 3 4 5 6 7   8 9 2 3 4 5 
 
1차 계산: (8`*`2 + 2`*`3 + 1`*`4 + 0`*`5 + 1`*`6 + 0`*`7 + 1`*`8 + 6`*`9 + 3`*`2 + 5`*`3 + 2`*`4 + 1`*`5) = (128 % 11) = 7   
2차 계산: 11 -7 = 4

>> 주민등록번호: 821010-1635210   
유효하지 않은 주민등록번호입니다.

In [30]:
id = input('주민등록번호:')

if '-' not in id:
    print('"-"이 없습니다')
elif len(id.replace('-', '')) != 13:
    print('13자리가 아닙니다')
else:   
    id = id.replace('-', '')
    li = [2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5]
    count1 = 0
    
    for i, j in zip(li, id[:12]):
        count1 += i * int(j)
    
    count2 = (11 - (count1 % 11)) % 10
    print('유효하지 않은 주민등록번호입니다.') if count2 != int(id[-1]) else print('유효한 주민등록번호입니다.')

주민등록번호: 821010-1635210

유효하지 않은 주민등록번호입니다.

In [32]:
jumin_no = ''
while True:
    jumin_no = input('주민번호 입력(숫자만)')

    if len(jumin_no) != 13 or not jumin_no.isdigit():
        print('잘못된 입력입니다. 다시 입력해주세요')
    else:
        break
        
weights = list(range(2, 10)) + list(range(2, 6))
total = 0

# for i in range(12):
#     total += int(jumin_no[i]) * weights[i]
total = sum(int(jumin_no[i]) * weights[i] for i in range(12))

remain = (11 - (total % 11)) % 10

print('ok') if int(jumin_no[-1]) == remain else  print('reject')

주민번호 입력(숫자만) 8210101635218

reject

12. 아래 코드는 비트코인의 가격 정보를 딕셔너리로 가져오는 코드이다.
   
import requests   
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']   
   
btc 딕셔너리 안에는 시가, 종가, 최고가, 최저가 등이 저장되어 있다.   
최고가와 최저가의 차이를 변동폭으로 정의할 때 (시가 + 변동폭)이 최고가 보다 높을 경우 "상승장",
그렇지 않은 경우 "하락장" 문자열을 출력하라.   
   
Key Name	Description   
opening_price	최근 24시간 내 시작 거래금액   
closing_price	최근 24시간 내 마지막 거래금액   
min_price	최근 24시간 내 최저 거래금액   
max_price	최근 24시간 내 최고 거래금액

In [33]:
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']
btc

{'opening_price': '148687000',
 'closing_price': '146821000',
 'min_price': '146801000',
 'max_price': '148900000',
 'units_traded': '174.07099475',
 'acc_trade_value': '25695301817.77843',
 'prev_closing_price': '148698000',
 'units_traded_24H': '313.30486107',
 'acc_trade_value_24H': '46229312765.5962',
 'fluctate_24H': '-510000',
 'fluctate_rate_24H': '-0.35',
 'date': '1749014647867'}

In [34]:
opening_price = float(btc['opening_price'])
max_price = float(btc['max_price'])
min_price = float(btc['min_price'])

price_gap = max_price - min_price
result = '상승장' if opening_price + price_gap > max_price else '하락장'
print(result)

상승장

14. 리스트에는 3일 간의 ohlc 데이터가 저장돼 있다. 시가에 매수해서 종가에 매도 했을 경우 총 수익금을 계산하라.,

ohlc = [["open", "high", "low", "close"],   
        [100, 110, 70, 100],   
        [200, 210, 180, 190],   
        [300, 310, 300, 310]]   
   


1일차 수익 0원 (100 - 100), 2일차 수익 -10원 (190 - 200), 3일차 수익 10원 (310 - 300) 이다.   


0

In [35]:
ohlc = [
    ["open", "high", "low", "close"],
    [100, 110, 70, 100],
    [200, 210, 180, 190],
    [300, 310, 300, 310]
]

total = 0
for day in ohlc[1:]:
    total += day[-1] - day[0]

print(total)

0

In [36]:
# 예제 1: 종료 조건이 있는 무한 루프
while True:
    user_input = input("종료하려면 exit 입력: ")
    if user_input == "exit":
        print("프로그램 종료!")
        break

종료하려면 exit 입력:  exit

프로그램 종료!

# while 문

In [37]:
total = 0
for i in range(6):
    total += i
total

15

In [38]:
i = 0
total = 0
while True:
    if i >= 6:
        break

    total += i
    i += 1
total

15

In [39]:
i = 0
total = 0

while i < 6:
    total += i
    i += 1
total

15

In [40]:
sum(range(1, 6))

15

# 리스트 컴프리헨션
`[리스트요소 for <1개> in <반복범위>]`

In [41]:
numbers = [1, 2, 3, 4, 5]
squares = [num * 2 for num in numbers]
squares

[2, 4, 6, 8, 10]

In [46]:
## 조건식 + for가 결합된 리스트 컴프리헨션
test_list = []

for x in range(10):
    if x < 5:
        test_list.append(x*2)
    else:
        test_list.append(x)

test_list

[0, 2, 4, 6, 8, 5, 6, 7, 8, 9]

In [45]:
[x*2 if x < 5 else x for x in range(10)]

[0, 2, 4, 6, 8, 5, 6, 7, 8, 9]

In [47]:
[x for x in range(10) if x < 5]

[0, 1, 2, 3, 4]

In [64]:
# 리스트 컴프리헨션을 이용한 변환, 필터
#로또 번호 당첨 여부 확인
my_numbers = [3, 11, 17, 23, 38, 42]
win_numbers = [7, 14, 23, 32, 38, 45]

for num in my_numbers:
    if num in win_numbers:
        print(f"🎉 당첨 번호 있음! ({num})")
        break
else:
    print("😢 꽝입니다.")

🎉 당첨 번호 있음! (23)

In [69]:
matched = [num for num in my_numbers if num in win_numbers]
if matched:
    print(matched)
else:
    print("😢 꽝입니다.")

print(f'당첨') if matched else print(f'꽝')

[23, 38]
당첨

# Iterator, Generator

- Iterable: for의 in 뒤에 나올 수 있는 객체의 유형
- Iterator: iter(), enumerate() -> for문에서 next() 직접 호출
- Generator: 사용자 정의 함수 중 yield를 사용한 패턴 - 일시 정지 -> 메모리 효율이 높음

In [2]:
from collections.abc import Iterable
isinstance('hello', Iterable)

True

In [4]:
itr_test_str = 'hello'
# dir(itr_test_str)

In [43]:
itr_obj = iter(itr_test_str)
dir(itr_obj)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__length_hint__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [44]:
# 끝까지 다 돌면 StopIteration 
itr_obj.__next__()

'h'

In [14]:
itr_test_lst = [10, 20, 30]
# dir(itr_test_lst)

In [46]:
itr_obj_1 = iter(itr_test_lst)
type(itr_obj_1)

list_iterator

In [47]:
# 끝까지 다 돌면 StopIteration 
itr_obj_1.__next__()

10

In [48]:
# 끝까지 다 돌면 StopIteration 
next(itr_obj_1)  # function

20

In [25]:
itr_obj_1 = iter(itr_test_lst)
for i in itr_obj_1:
    print(i)

10
20
30

In [26]:
for i, item in enumerate(itr_test_lst):
    print(i, item)

0 10
1 20
2 30

In [27]:
msg = 'hello'
for i in enumerate(msg):
    print(i)

(0, 'h')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')

In [28]:
def gen_자판기():
    yield '바나나1'
    yield '바나나2'
    yield '바나나3'

gen_자판기()

In [29]:
gen = gen_자판기()
next(gen)

'바나나1'

In [30]:
next(gen)

'바나나2'

In [31]:
next(gen)

'바나나3'

In [34]:
def 제곱머신():
    for x in range(10):
        yield x ** 2

g_m = 제곱머신()

In [39]:
next(g_m)

16

In [40]:
for n in g_m:
    print(n)

25
36
49
64
81

In [50]:
# 1. 기본 이터레이터 구현

class NumberIterator:
    def __init__(self, limit):
        self.limit = limit
        self.current = 0
    
    def __iter__(self):
        return self
    
    def __next__(self):
        if self.current < self.limit:
            result = self.current
            self.current += 1
            return result
        else:
            raise StopIteration

# 사용 예시
numbers = NumberIterator(5)
for num in numbers:
    print(num)  # 0, 1, 2, 3, 4 출력

0
1
2
3
4

In [54]:
# 2. 제너레이터 함수 예시
def fibonacci_generator(n):
    a, b = 0, 1
    for _ in range(n):
        yield a
        a, b = b, a + b

# 사용 예시
fib = fibonacci_generator(5)
for num in fib:
    print(num)  # 0, 1, 1, 2, 3 출력

0
1
1
2
3

In [66]:
# 3. 제너레이터 표현식 예시
# 리스트 컴프리헨션
squares_list = [x**2 for x in range(1000000)]  # 메모리를 많이 사용

# 제너레이터 표현식
squares_gen = (x**2 for x in range(1000000))  # 메모리 효율적

# 사용 예시
for square in squares_gen:
    if square > 100:
        break
    print(square)

0
1
4
9
16
25
36
49
64
81
100

# 리스트 컴프리헨션 연습

In [57]:
# 1부터 20까지의 숫자 중 3의 배수만 포함하는 리스트 만들기
li_1 = [i for i in range(1, 21) if i % 3 == 0]
print(li_1)

[3, 6, 9, 12, 15, 18]

In [62]:
# 문자열 리스트에서 길이가 3 이상인 단어만 대문자로 변환하기
words = ['cat', 'dog', 'elephant', 'rat', 'giraffe']
over_words = [w.upper() if len(w) >= 3 else x for w in words]
print(over_words)

['CAT', 'DOG', 'ELEPHANT', 'RAT', 'GIRAFFE']

In [64]:
# 두 리스트의 모든 조합에서 합이 짝수인 쌍만 선택하기
list1 = [1, 2, 3]
list2 = [4, 5, 6]
sums = [(x, y) for x in list1 for y in list2 if (x+y) % 2 == 0]
print(sums)

[(1, 5), (2, 4), (2, 6), (3, 5)]