# 반복문: for, while

# for문

for 변수 in 반복자:

반복자에는 리스트, 문자열, 튜플, 딕셔너리, 세트(집합)

In [2]:
data = [0, 1, 2, 3, 4]

for var in data:
    print(var, end=' ')

0 1 2 3 4

In [14]:
type(range(1, 10))

range

In [5]:
for x in range(1, 10):
    print(x, end=' ')

1 2 3 4 5 6 7 8 9

In [13]:
# tuple, dictionary, str
sum = 0
for i in (1, 2, 3):
    sum += i    
print(sum)

for k, v in {'name':'gayeon', 'age':26}.items():
    print(k, v)

for s in 'hello':
    print(s, end=' ')

6
name gayeon
age 26
h e l l o

In [15]:
list(range(1, 10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# range(1, 10, 2)
start, stop, step = 1(default)

In [17]:
list(range(0, 10, 2))

[0, 2, 4, 6, 8]

In [27]:
# 1 ~ 100 합 구하기
sum1 = 0
for i in range(1, 101):
    sum1 += i
print(sum)

1683

In [29]:
# 3의 배수의 합 (1 ~ 100)
sum2 = 0
for i in range(3, 101, 3):
    sum2 += i
print(sum)

1683

In [30]:
char_list = ['a', 'b', 'c']

for x in char_list:
    print(x)

a
b
c

In [31]:
for i, v in enumerate(char_list):
    print(i, v)

0 a
1 b
2 c

In [32]:
char_list2 = ['hello', 'hi', 'good-bye']
zip(char_list, char_list2)

In [33]:
for item in zip(char_list, char_list2):
    print(item)

('a', 'hello')
('b', 'hi')
('c', 'good-bye')

In [41]:
# 구구단
for dan in range(2, 10):
    for i in range(1, 10):
        print(f'{dan} x {i} = {dan*i}')
    print('-'*10)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
----------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
----------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
----------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
----------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
----------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
----------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
----------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
----------

In [38]:
movie_dict = {'미션임파서블':4, '미치광이피에로':5, '씨너스':3, '울지않는아이':2}
for k, v in movie_dict.items():
    print(f'영화 {k}의 평점 : {'😀'*v}')

영화 미션임파서블의 평점 : 😀😀😀😀
영화 미치광이피에로의 평점 : 😀😀😀😀😀
영화 씨너스의 평점 : 😀😀😀
영화 울지않는아이의 평점 : 😀😀

In [59]:
for i in range(1, 6):
    for j in range(i):
        print('💎', end='')
    print()

💎
💎💎
💎💎💎
💎💎💎💎
💎💎💎💎💎

In [56]:
for i in range(1, 6):
    print(' ' * (6 - i), end=' ')
    print('💎'* i)

      💎
     💎💎
    💎💎💎
   💎💎💎💎
  💎💎💎💎💎