# 함수

- 인자 = 매개변수, 입력, 파라미터
- 반환값 = 리턴값, 결과값
- 함수 이름
   
   
- 함수 정의 -> 호출

In [19]:
# definition
def my_func():
    print('home')
    print("let's go")

In [4]:
# call
my_func()

home
let's go

In [5]:
type(my_func)

function

In [28]:
# 리턴이 없는 경우
my_func_var = my_func()

home
let's go

In [17]:
print(my_func_var)

None

In [20]:
def my_func1():
    print('home')
    print("let's go")
    return 'hello'

In [29]:
# 리턴이 있는 경우
my_func_var1 = my_func1()

home
let's go

In [27]:
print(my_func_var1)

hello

# 입력값이 있는 함수

In [30]:
def my_calc(x):
    print(f'{x}를 계산합니다.')

In [31]:
my_calc(10)

10를 계산합니다.

In [32]:
def my_calc1(x):
    print(f'{x}를 계산합니다.')
    z = x * 20
    return z

In [33]:
result = my_calc1(10)
print(result)

10를 계산합니다.
200

In [34]:
def my_calc2(x, y):
    print(f'{x}와 {y}를 계산합니다.')
    add_result = x + y
    mul_result = x * y
    return add_result, mul_result

In [37]:
func_result = my_calc2(10, 20)
func_result   # 튜플

10와 20를 계산합니다.

(30, 200)

In [41]:
func_result1, func_result2 = my_calc2(10, 20)  # 언패킹
func_result1

10와 20를 계산합니다.

30

In [42]:
func_result2

200

## 입력값의 타입: 수치형 vs (리스트) 객체형

- 수치형: 값에 의한 전달 call by value   
- 객체형: 값(참조)의 전달 call by reference -> 같은 객체를 다룸

In [45]:
def my_calc3(a, lst1):
    a += 1
    lst1.append(a)
    return a

In [47]:
num = 10
lst_num = [1, 2, 'aa']

print(f'before: {num}, {lst_num}')
my_calc3(num, lst_num)
print(f'after: {num}, {lst_num}')

before: 10, [1, 2, 'aa']
after: 10, [1, 2, 'aa', 11]

In [49]:
# my_calc3(lst_num, num)  # TypeError: 'int' object is not iterable

키워드 매개변수: 함수의 매개변수 목록은 변수명이 매개변수 명인 것!   
매개변수명을 이용한 호출은 매개변수의 순서와 무관함

In [53]:
my_calc3(lst1 = lst_num, a = num)

11

In [56]:
# 기본값, 기본인자
def greeting(name, greeting='hello'):
    print(f'{greeting}, {name}님!')

greeting('minsu', 'hello')

hello, minsu님!

In [58]:
greeting('minsu', 'hi')
greeting('hoo')

hi, minsu님!
hello, hoo님!

In [61]:
# 가변인자
def sum_all(*args):
    return sum(args)

In [62]:
sum_all(1, 2, 3, 4, 5)

15

In [68]:
def sum_all(arg1, arg2, *args):
    print(args)
    return arg1 + arg2 + sum(args)

In [69]:
sum_all(1, 2, 3, 4, 5)

(3, 4, 5)

15

In [65]:
# 매개변수의 순서가 중요
def sum_all(arg1, *args, arg2):
    return arg1 + arg2 + sum(args)

In [67]:
# sum_all(1, 2, 3, 4, 5)  # TypeError: sum_all() missing 1 required keyword-only argument: 'arg2'

## **kwargs

In [72]:
def print_info(**kwargs):
    for k, v in kwargs.items():
        print(f'{k}, {v}')

In [75]:
print_info(name='hong', age=20, city='seoul', nick_name='h')

name, hong
age, 20
city, seoul
nick_name, h

# 요일 구하는 함수 정의
- 입력: year, month, day
- 출력: '월요일'
- 함수명: 요일찾기()

In [97]:
import datetime
today = datetime.date(2025, 6, 5)
# dir(today)
today.weekday()

3

In [93]:
year = 2000
month = 6 
day = 28

In [98]:
# 날짜 = 연, 월, 일  year=2025 month=06 day=05

total_days = 0
# 년도일수 계산 -> (입력년도 - 1) * 365
# 윤년인지 체크 => 366일
for i in range(1, year):
    # 윤년: 400으로 나눈 나머지가 0 and 4로 나눈 나머지가 0
    # 평년: 100으로 나눈 나머지가 0
    if i % 400 == 0:
        total_days += 366
    elif i % 100 == 0:
        total_days += 365
    elif i % 4 == 0:
        total_days += 366
    else:
        total_days += 365

print(total_days)

# 월일수 계산 -> (입력한 월 - 1) * 30
# 월별 일수 따로 계산
month_days = [0, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
for m in range(1, month):
    total_days += month_days[m]

# 올해가 윤년인지
if month >= 3:
    if year % 400 == 0:
        total_days += 1
    elif year % 100 == 0:
        total_days += 0
    elif year % 4 == 0:
        total_days += 1
    else:
        total_days += 0
    
print(total_days)
# 일수 계산 -> 입력한 일
total_days += day

print(total_days)

# 요일 정하기
remain_days = total_days % 7
if remain_days == 1:
    print('월요일')
elif remain_days == 2:
    print('화요일')
elif remain_days == 3:
    print('수요일')
elif remain_days == 4:
    print('목요일')
elif remain_days == 5:
    print('금요일')
elif remain_days == 6:
    print('토요일')
else:
    print('일요일')

730119
730271
730299
수요일

In [115]:
def 윤년체크(year):   
    if year % 400 == 0:
        return True
    elif year % 100 == 0:
        return False
    elif year % 4 == 0:
        return True
    else:
        return False

In [116]:
def 요일찾기(year, month, day):
    week_day_name = ''

    total_days = 0
    # 년도일수 계산 -> (입력년도 - 1) * 365
    # 윤년인지 체크 => 366일
    for i in range(1, year):
        # 윤년: 400으로 나눈 나머지가 0 and 4로 나눈 나머지가 0
        # 평년: 100으로 나눈 나머지가 0
        if 윤년체크(i):
            total_days += 366
        else:
            total_days += 365
    
    print(total_days)
    
    # 월일수 계산 -> (입력한 월 - 1) * 30
    # 월별 일수 따로 계산
    month_days = [0, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
    for m in range(1, month):
        total_days += month_days[m]
    
    # 올해가 윤년인지
    if month >= 3:
        if 윤년체크(year):
            total_days += 1
        
    print(total_days)
    # 일수 계산 -> 입력한 일
    total_days += day
    
    print(total_days)
    
    # 요일 정하기
    remain_days = total_days % 7
    day_names = ['일요일', '월요일', '화요일', '수요일', '목요일', '금요일', '토요일']

    week_day_name = day_names[remain_days]
    
    return week_day_name

In [117]:
year = 2000
month = 6 
day = 28

day_name =  요일찾기(year, month, day)
print(f'입력하신 날짜는 {day_name}입니다.')

730119
730271
730299
입력하신 날짜는 수요일입니다.

# 성적처리 시스템
- calc_total()
- calc_average()
- calc_order()
  
- print_student(students): 전 학생의 성적 출력
- print_class(): 반 평균, 각 과목별 평균 출력

In [219]:
students = [
               {'num':'1','name':'김철수','kor':90,'eng':80,'math':85,'total':0,'avg':0.0,'order':0 },
               {'num':'2','name':'박제동','kor':90,'eng':85,'math':90,'total':0,'avg':0.0,'order':0 },
               {'num':'3','name':'홍길동','kor':80,'eng':80,'math':80,'total':0,'avg':0.0,'order':0 }
           ]

In [220]:
def calc_total(stus):
    for s in stus:
        s['total'] = s['kor'] + s['eng'] + s['math']

In [221]:
def calc_average(stus):
    for s in stus:
        s['avg'] = (s['kor'] + s['eng'] + s['math']) / 3

In [222]:
def calc_order(stus):
    for s in stus:
        rank = 1
        for other in stus:
            if other['total'] > s['total']:
                rank += 1
        s['order'] = rank

In [223]:
def print_student(stus):   
    for s in stus:
        print(f'등수:{s['order']} > 이름:{s['name']} 국어점수:{s['kor']} 영어점수:{s['eng']} 수학점수:{s['math']} 총점:{s['total']} 평균:{s['avg']}')

In [229]:
def print_class(stus):
    total_avg = 0
    kor_avg = 0
    eng_avg = 0
    math_avg = 0

    count = len(stus)
    
    for s in stus:
        total_avg = sum(s['total'] for s in stus) / count / 3
        kor_avg = sum(s['kor'] for s in stus) / count
        eng_avg = sum(s['eng'] for s in stus) / count
        math_avg = sum(s['math'] for s in stus) / count
             
    print(f'반평균:{total_avg}') 
    print(f'국어평균:{kor_avg}')
    print(f'영어평균{eng_avg}')
    print(f'수학평균{math_avg}')

In [230]:
calc_total(students)
calc_average(students)
calc_order(students)
print_student(students)
print_class(students)

등수:2 > 이름:김철수 국어점수:90 영어점수:80 수학점수:85 총점:255 평균:85.0
등수:1 > 이름:박제동 국어점수:90 영어점수:85 수학점수:90 총점:265 평균:88.33333333333333
등수:3 > 이름:홍길동 국어점수:80 영어점수:80 수학점수:80 총점:240 평균:80.0
반평균:84.44444444444444
국어평균:86.66666666666667
영어평균81.66666666666667
수학평균85.0

# 람다함수

선언 >> lambda <매개변수>: 코드
   
호출 >> (lambda <매개변수>: 코드)(매개변수값)

In [1]:
def aaa(a):
    result = a + 1
    return result

In [2]:
lambda a: a + 1

In [6]:
(lambda a: a + 1)(2)  # 람다의 전의 즉시 호출

3

In [9]:
my_lambda = lambda a: a + 1  # 람다의 재정의
my_lambda(50)

51

In [10]:
def sum1(a, b):
    return a + b

sum1(2, 3)

5

In [11]:
(lambda a, b: a + b)(2, 3)

5

In [12]:
def calc_func(a, b, opr_func):
    result = opr_func(a, b)
    return result

In [14]:
calc_func(2, 3, lambda x, y: x + y)

5

In [15]:
calc_func(2, 3, lambda x, y: x * y)

6

In [16]:
calc_func(2, 3, lambda x, y: x / y)

0.6666666666666666

In [17]:
calc_func(2, 3, lambda x, y: x - y)

-1

In [29]:
# map 함수
fruits = ['apple', 'banana', 'cherry']
# fruits[0].upper()
list(map(str.upper, fruits))

['APPLE', 'BANANA', 'CHERRY']

In [30]:
str_number = '12345'
list(str_number)  # 문자열이 들어있는 리스트

['1', '2', '3', '4', '5']

In [31]:
numbers = list(map(int, str_number))
numbers

[1, 2, 3, 4, 5]

In [32]:
list(map(lambda x: x ** 2, numbers))

[1, 4, 9, 16, 25]

In [58]:
kor_score = [80, 90, 75]
eng_score = [75, 70, 90]
math_score = [60, 80, 85]

list(map(lambda x, y, z: x + y + z, kor_score, eng_score, math_score))

[215, 240, 250]

In [59]:
list(map(lambda s: sum(s), zip(kor_score, eng_score, math_score)))

[215, 240, 250]

In [60]:
# 평균, 최대값, 최솟값
list(map(lambda s: sum(s)/3, zip(kor_score, eng_score, math_score)))

[71.66666666666667, 80.0, 83.33333333333333]

In [61]:
list(map(lambda s: min(s), zip(kor_score, eng_score, math_score)))

[60, 70, 75]

In [62]:
list(map(lambda s: max(s), zip(kor_score, eng_score, math_score)))

[80, 90, 90]

# 랩업_함수_람다_문자열_배포

1. 두 수를 입력 받아 그 곱을 반환하는 함수를 작성하세요.

In [101]:
#답을 작성하세요.
def multiply_numbers(a, b):
    return a * b

multiply_numbers(3, 5)

15

2. 숫자 리스트를 입력 받아 평균을 반환하는 함수를 작성하세요.

In [102]:
#답을 작성하세요.
def calc_average(numbers):
    return sum(numbers) / len(numbers)

In [105]:
#람다로 정의
calc_average = lambda x: sum(x) / len(numbers)
calc_average([10, 20, 30, 40, 50])

30.0

In [104]:
print(calc_average([10, 20, 30, 40, 50]))

30.0

3. 주어진 숫자가 짝수이면 True, 홀수이면 False를 반환하는 함수를 작성하세요.

In [114]:
#답을 작성하세요.
def is_even(n):
    return True if n % 2 == 0 else False

In [117]:
#람다버전
is_even = lambda x: x % 2 == 0
is_even(14)

True

In [116]:
print(is_even(14))  # True
print(is_even(21))  # False

True
False

4. 주어진 리스트의 모든 요소를 문자열로 변환하여 반환하는 함수와, 람다 함수를 작성하세요.

In [127]:
#함수
def to_string_list(lst):
  for idx, i in enumerate(lst):
      lst[idx] = str(i)
  return lst

In [133]:
#답을 작성하세요.
to_string_list = list(map(lambda x: str(x), [1, 2, 3, 4, 5]))
to_string_list

['1', '2', '3', '4', '5']

In [128]:
# 테스트
print(to_string_list([1, 2, 3, 4, 5]))  # ['1', '2', '3', '4', '5']

['1', '2', '3', '4', '5']

5. 두 문자열을 입력받아 합친 문자열을 반환하는 함수와 람다 함수를 작성하세요.

In [134]:
def concat_strings(s1, s2):
  return s1 + s2

In [138]:
#답을 작성하세요.
concat_strings = lambda s1, s2: s1 + s2
concat_strings("Hello, ", "World!")

'Hello, World!'

In [135]:
# 테스트
print(concat_strings("Hello, ", "World!"))  # "Hello, World!"

Hello, World!

6. 주어진 문자열에서 모든 모음(a,e,i,o,u)을 제거한 문자열을 반환하는 함수를 작성하세요.

In [165]:
#답을 작성하세요.
def remove_vowels(s):
  vowels = 'aeiou'
  for v in vowels:
        s = s.replace(v, '')
  return s

In [157]:
remove_vowels = None

In [166]:
# 테스트
print(remove_vowels("abcdefghijklmnopqrstuvwxyz"))  # "bcdfghjklmnpqrstvwxyz"

bcdfghjklmnpqrstvwxyz

7. 문자열을 입력 받아, 해당 문자열에서 가장 긴 단어와 길이를 반환하는 함수를 작성하세요.

In [74]:
#답을 작성하세요.
def find_longest_word(s):
    list_s = s.split(' ')

In [111]:
find_longest_word = None

In [ ]:
# 테스트
print(find_longest_word("Life is for one generation a good name is forever."))  # "generation", 10

8. 주어진 문자열에서 숫자와 문자를 분리하는 함수를 작성하세요.

In [112]:
#답을 작성하세요.
def split_numbers_letters(s):
    # 1. 숫자를 담을 리스트, 문자를 담을 리스트를 만든다.
    numbers = []
    letters = []
    return numbers, letters

In [ ]:
# 테스트
print(split_numbers_letters("a1b2c3d4")) # ["a", "b", "c", "d"], [1, 2, 3, 4]

9. 주어진 문자열(알파벳)을 입력 받아, 각 알파벳의 종류와 개수를 dict형으로 반환하는 함수를 만드세요.

In [113]:
#답을 작성하세요.
def count_alphabets(s):
  pass

In [ ]:
# 테스트
print(count_alphabets("hello"))  # {"h": 1, "e": 1, "l": 2, "o": "1"}